body {
  padding-top: 54px;
}


.enterbutton {
  padding-top: 54px;
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
}


.col-lg-4{
  padding-top: 65px;
  margin-left: 50px;
}
