<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
      <% include ../static/partials/navbar.ejs %>
    <main class="container">

      <h1>Posts</h1>
      <% if(currentUser) { %>
    <a href="/posts/new" class="btn btn-success">New Post</a>
  <% } %>

      <ul class="list-group">
<!-- #1 -->
        <% posts.forEach((post) => { %>
<!-- #2 -->
          <li class="list-group-item">
            <a href="/posts/<%= post.id %>"> <%= post.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
