<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

  <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <h1>What would you like to do?</h1>
<!-- #1 -->
        <a href="/posts/new" class="btn btn-success">Create New Post</a>
        <a href="/posts/show" class="btn btn-success">View Posts</a>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
