<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>

    <main class="container">



      <h1>Login</h1>

      <form action="/users" method="post">

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" aria-describedby="usernameHelp" placeholder="Enter username">

        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
